// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  .count {
    display: flex;
    justify-content: space-between;
    .label {
      color: white;
      background-color: black;
      font-size: 3em;
      border: solid green;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
